<html>
<body>
    <style>
        body{
            font-family: sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://intech.techsyndicate.us/style.css">
    <div id="thank-you" class="reg-container">
        <h1 class="title">inTech '26 Registration</h1>
        <div class="reg-form-2">
            <% if (age >= 13) { %>
            <p class="thank-you-p">
                Hi <%= name %>, <br>
                We have detected that you are above the age of 13, if this is a mistake please contact the mods
                (details
                given below).<br> <br>

                We request you to join the discord server at -
                <a href="https://ts46.club/server">ts46.club/server</a> as all communication will take
                place there.<br> We also request you to join the whatsapp group at - <a
                    href="https://ts46.club/whatsapp">ts46.club/whatsapp</a> for important announcements.
                <br>
                <br>
                Your discord verifcation code is
                "<span style="color: #16e16e;"><%= dis_token %></span>". Please
                send the command "ts verify
                <span style="color: #16e16e;"><%= dis_token %></span>", In the Unverified chat channel. <br>
                It will grant you access to the server and set your display name to the one you selected while
                registration and allot the fields you had chosen.
                <br>
                <br>
                <span style="font-weight: 400; ">Fields you have chosen:</span>
                <ul>
                    <% selected.forEach(field => { %>
                        <li><%= field %></li>
                        <% }) %>
                </ul>
                <br>
                <br>
                In case you face any issues, please feel free to DM any core members.
                <br>
                Regards, <br>
                Jai Dugal, President  (+91 9899626779)
                <br>
                <br>
                Revolutionize! <br>  

            </p>
            <% } else { %>
            <p class="thank-you-p">
                Hi <%= name %>, <br>
                We have detected that you are under the age of 13, if this is a mistake please contact
                the mods
                (details given below).<br> <br>

                Since you are underage, you can not join the discord server. Please join the whatsapp group for
                announcements- <a href="https://ts46.club/whatsapp">ts46.club/whatsapp</a>
                <br>
                <br>
                <span style="font-weight: 400; ">Fields you have chosen:</span>
                <ul>
                    <% selected.forEach(field => { %>
                        <li><%= field %></li>
                        <% }) %>
                </ul>
                <br>
                In case you face any issues, please feel free to DM any moderators.<br>
                <br>
                Regards, <br>
                Jai Dugal, President  (+91 9899626779)
                <br>
                <br>
                Revolutionize! <br>  
            </p>
            <% } %>
        </div>
    </div>
</body>

</html>
